.hidden {
	display: none;
}
.img {
	width: 100px;
	height: 100px;
	border:3px black solid;
}
.preloader {
	font-size: 20px;
	font-weight: 700;
	color: green;
}
.error {
	color: red;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
